* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto";
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #A9B923;
}

#title {
    text-align: center;
    padding: 10px;
    font-size: 60px;
}

#dropdown {
    padding: 5px 20px;
}

.input-field {
    width: 280px;
}

#description {
    text-align: center;
    padding: 10px;
}

#name, #email, #number {
    width: 280px;
    height: 27px;
    padding: 6px;
}

section {
    background-color: #f79422;
    border: 2px solid black;
    margin: 10px auto;
    max-width: 100%;
    width: 600px;
    padding-bottom: 20px;
    font-size: 20px
}

.line {
    border: 1px solid black;
}

.licenter {
    display: flex;
    justify-content: center;
    padding: 0 4px;
    font-size: 16px;
}

#submit {
    padding: 7px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #353535;
    color: white;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}