* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto";
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #A9B923;
}

#title {
    text-align: center;
    padding: 8px;
    font-size: 56px;
    color: #e7e7e7;
    font-family: 'Fira Sans', sans-serif;;
    margin: 1%;
    text-shadow: 0px 0px 10px #000000;
}

#dropdown {
    padding: 5px 20px;
}

.input-field {
    width: 280px;
}

#description {
    text-align: center;
    padding: 10px;
}

#name, #email, #number {
    width: 350px;
    height: 27px;
    padding: 6px;
    max-width: 90%;
}

section {
    background-color: #f79422;
    border: none;
    margin: 10px auto;
    max-width: 90%;
    width: 700px;
    padding-bottom: 20px;
    font-size: 20px;
    max-width: 95%;
    border-radius: 5px;
    box-shadow: 0px 4px 20px 1px #181818;
    margin-bottom: 5%;
}

.line {
    border: 1px solid #242424;
    width: 85%;
    margin: auto;
}

.licenter {
    padding: 0 10px;
    font-size: 16px;
    text-align: justify;
}

#submit {
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    background-color: #fff;
    border: 1px #999 solid;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 10px;
}

.textarea {
    height: 100px;
    max-width: 90%;
    width: 400px;
    resize: none;
    text-align: left;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
} 

input {
    border-radius: 5px;
    margin: 5px;
}

label {
    margin: 5px;
}

select {
    border-radius: 5px;
    margin: 5px;
}

textarea[placeholder] {
    text-align: center;
}