#title {

}

#description {

}

.input-field {
    width: 280px;
}

.right {
    display: flex;
    justify-content: flex-end;
    text-align: left;
}

.left {
    display: flex;
    justify-content: flex-start;
}